<div style="background-image: background-image: url(/nagano_cake/app/assets/images/about.jpg);background-position: cer; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;;" class="container text-center">
    <h1>About</h1>
    <h3>ながのCAKEは全国発送可能なケーキ屋さんです。</h3><br>
    <h3>お子様からお年寄りの方までお召し上がりいただけるよう、</h3><br>
    <h3>様々なバリエーションをご用意しております。</h3><br>
    <h3>ぜひご注文下さい。</h3>
</div>