<div class="container text-center">
    <h1>About</h1>
    <p>ながのCAKEは全国発送可能なケーキ屋さんです。</p><br>
    <p>お子様からお年寄りの方までお召し上がりいただけるよう、</p><br>
    <p>様々なバリエーションをご用意しております。</p><br>
    <p>ぜひご注文下さい。</p>
</div>